body {
    font-family: "Lato", sans-serif;
    padding: 20px;
    background-color: #e9ecef;
    /* A soft background color */
  }
  
  h2 {
    color: #003366;
    /* A shade often associated with cars */
    margin-top: 20px;
    font-size: 38px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }